@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%; /* #f8f9fa equivalent */
    --foreground: 240 10% 4%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
